@model IEnumerable<LinkedinPortal.Models.profile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.headline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.profileid }) |
            @Html.ActionLink("Details", "Details", new { id=item.profileid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.profileid })
        </td>
    </tr>
}

</table>
