@model _19July.Models.STUDETAIL

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>STUDETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ENGMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENGMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCIMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCIMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATHMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATHMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRADE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
