@model WebAPIClient.Models.Emp
@using WebAPIClient.Models;

@{
    ViewData["Title"] = "ShowData";
}

<h1>ShowData</h1>

<div>
    <h4>Emp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            RollNo
        </dt>
        <dd class="col-sm-10">
            @ViewBag.s1.RollNo
        </dd>
        <dt class="col-sm-2">
            StudentName
        </dt>
        <dd class="col-sm-10">
            @ViewBag.s1.StudName
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>