@model IEnumerable<MVCCoreApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CUSTID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CUSTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CUSTEMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CUSTMOBILE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTEMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTMOBILE)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CUSTID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CUSTID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CUSTID })
                    <a asp-action="Delete" asp-route-custId="@item.CUSTID" asp-route-custName="@item.CUSTNAME">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
