@{
    Layout = null;
    System.Data.DataTable dt = ViewBag.userdata as System.Data.DataTable;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Traffic Fine System</title>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/myStyle.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1><b>Traffic Fine System</b></h1>
                </div>
                <div class="col-lg-4">
                    <div class="pull-right social" style="padding-top:10px;">
                        <a>Welcome</a>
                        <a><i class="fa fa-user"></i>&nbsp;&nbsp;User Name</a>|
                        <a href="Login"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container bg">
            <!--<div class="row text-center">
                <div class="col-lg-12">

                </div>
            </div>-->
            <!-- <script>
             $(document).ready(function(e) {
                 $("#tbl").hide();

                 $("#submit").click(function(e) {
                     $("#tbl").show();
                 });

             });
            </script>-->
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 bd">
                    <h4 class="text-danger">TFS</h4>
                    <hr style="border-color:#933" />
                    <a href="InitiateFine">Initiate Fine</a><hr class="hr1" />
                    <a href="UpdateFT">Update Fine Transaction</a><hr class="hr1" />
                    <a href="UpdatePR">Update Payment receipt</a><hr class="hr1" />
                    <a href="ConflictCase">Conflict Case</a><hr class="hr1" />
                    <a>Reports</a><hr class="hr1" />
                    <a>User Admin</a><hr class="hr1" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="row bar">
                        <h3><span class="fa fa-users text-danger"></span>&nbsp; User Admin</h3>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" id="tbl">
                                <table class="table table-bordered">
                                    <caption class="text-danger"><b>List of Users</b></caption>
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Password</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Marks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0;i < dt.Rows.Count;i++)
                                        {
                                            <tr>
                                                <td>@dt.Rows[i][1]</td>
                                                <td>@dt.Rows[i][2]</td>
                                                <td>@dt.Rows[i][3]</td>
                                                <td>@dt.Rows[i][4]</td>
                                                <td>@dt.Rows[i][5]</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-default" href="NewUser">ADD USER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
    </footer>
</body>
</html>
