@model IEnumerable<_30July.Models.UserDetails>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.USERID)</th>
            <th>@Html.DisplayNameFor(model => model.USERNAME)</th>
            <th>@Html.DisplayNameFor(model => model.PASSWORD)</th>
            <th>@Html.DisplayNameFor(model => model.EMAIL)</th>
            <th>@Html.DisplayNameFor(model => model.MOBILE)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="userTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.USERID)</td>
                <td>@Html.DisplayFor(modelItem => item.USERNAME)</td>
                <td>@Html.DisplayFor(modelItem => item.PASSWORD)</td>
                <td>@Html.DisplayFor(modelItem => item.EMAIL)</td>
                <td>@Html.DisplayFor(modelItem => item.MOBILE)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.USERID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.USERID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.USERID })
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(ViewBag.CurrentPage - 1))">Previous</a>
            </li>
        }
        @{
            for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="#" onclick="loadPage(@i)">@i</a>
                </li>
            }
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(ViewBag.CurrentPage + 1))">Next</a>
            </li>
        }
    </ul>

</nav>

<script type="text/javascript">
    function loadPage(page) {
        $.ajax({
            url: '@Url.Action("UserListPartial", "AjaxExp")',
            type: 'GET',
            data: { page: page },
            success: function (data) {
                $('#userTableContainer').html(data);
            },
            error: function () {
                alert("Error loading page.");
            }
        });
    }
</script>
